/* ---------- Overall Specifications ---------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

html {
  height: 98%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Ubuntu", san-serif ;
  font-size: 95%;
}

#page-wrapper {
 max-width:1280px;
 margin-left: auto;
 margin-right: auto;
}

a {
    color:#329998;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}
.link {
  font-family: "Ubuntu", sans-serif;
}
.field-type-image a,
h1 a,
h2 a,
[role*=banner] a,
.feed-icon,
.contextual-links a,
.toolbar a {
  border-bottom: none !important;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility
 */
h1,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: #000;
}
h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.143em;
}
h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

/* ------------------ Reset Styles ------------------ */

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/*
 * blocks
 */ 
 
/* Language switcher*/
.block-language {
  font-size:1em !important;
  position: absolute;
  top:-10px;
  padding: 0 10px;
}

/* 
 * Searcher 
 */

#block-ps-searcher-block {
    position: relative;
    padding: 2em 0.5em;
    min-height: 18em;
    background: #329998; /* Old browsers */
    background: -moz-linear-gradient(left, #329998 0%, #329998 35%, #329998 35%, #64ca98 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#329998), color-stop(35%,#329998), color-stop(35%,#329998), color-stop(88%,#64ca98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #329998 0%,#329998 35%,#329998 35%,#64ca98 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #329998 0%,#329998 35%,#329998 35%,#64ca98 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #329998 0%,#329998 35%,#329998 35%,#64ca98 88%); /* IE10+ */
    background: linear-gradient(to right, #329998 0%,#329998 35%,#329998 35%,#64ca98 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#329998', endColorstr='#64ca98',GradientType=1 );
}

#block-ps-searcher-block .content {
    margin-top: 3em;
    background-color: #000066;
}

#search {
    width:49%;
    padding:0;
    margin:0;
    float: left;
}

#promotional {
    width:30%;
    padding:1em 2em 2em 2em;
    margin:0;
    float: right;
    color: #e1f4ee;
    text-align: justify;
    font-size: 1.8em;
}

#search-content {
    width:100%;
    padding: 1em 0.5em;
}

#for-search {
    position:relative;
    float:left;
    background: #FFFFFF url(../../images/lens.svg) no-repeat;
    background-position: 4px 4px !important;
    padding: 10px 10px 10px 60px;
    margin: 0 3px;
    width: 98%;
    min-width:250px;
    height:50px;
    border: 2px solid #e1f4ee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size:1.4em;
}

#for-search:focus {
    background: #FFFFFF url(../../images/lensalt.svg) no-repeat;
    background-color: #FFFFFF;
    border-color: #34495e;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e1f4ee inset;
    -webkit-box-shadow: 0 0 0 1px #e1f4ee inset;
    box-shadow: 0 0 0 1px #e1f4ee inset;
}

#edit-require {
    position:relative;
    float:left;
    background-color: #64ca98;
    background-image: none;
    padding: 5px;
    margin:0px 3px;
    width: 45%;
    min-width:70px;
    height:50px;
    border: 2px solid #e1f4ee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size:1.4em;
    text-align:center;
    color:#e1f4ee;
}

#edit-require:hover {
    border-color: #e1f4ee;
    background-color: #64ca98;
    color:#e1f4ee;
}

#edit-bid {
    position:relative;
    float:right;
    background-color: Transparent;
    background-image: none;
    padding: 5px;
    margin: 0 10px;
    width: 45%;
    min-width:70px;
    height:50px;
    border: 2px solid #e1f4ee;
    -moz-border-radius: 25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size:1.4em;
    text-align:center;
    color:#e1f4ee;
}

#edit-bid:hover {
    border-color: #e1f4ee;
    background-color: #64ca98;
    color:#e1f4ee;
}

/* 
 * Searched 
 */

#searching {
  margin: 50px 0 10px 0;
}

#left {
  position:relative;
  float:left;
  width:70%;
  margin: 20px 30px;
}
#searched {

}


div[id^="searched_"]{
  border: 2px solid #e1f4ee;
  background-color: #e1f4ee;
    border-radius: 10px;
    margin:0 0 10px 0;
    padding: 10px;
}

div[id^="searched_"] h2{
    margin:0 0 5px 0;
    font-weight: bold;
}
 
div[id^="searched_"] p{
  margin:0;
  padding:0;
}

span.highlight{
  color: #34495e;
  font-weight: bold;
}
span.normal{
  color: #34495e;
  font-weight: bold;
}

/* Publicity */
#block-advertisinglateral {
    border: 2px solid #e1f4ee;
    background-color: #e1f4ee;
    border-radius: 10px;
    margin:0 0 10px 0;
    padding: 10px;
    min-height: 500px;
    text-align: center;
}

/* Awesomplete */
div.awesomplete > ul {
    font-size: 1.4em;
    left: 0;
    top: 58px;
    z-index: 1;
    background: hsla(0, 0%, 100%, .9);
    background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, .8));
    border: 2px solid #34495e;
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    text-shadow: none;
}

div.awesomplete > ul > li:hover {
    background: #90acaf !important;
    color: black;
}

div.awesomplete > ul > li[aria-selected="true"] {
    background: #90acaf !important;
    color: white;
}

div.awesomplete mark {
    background: #34495e;
    color: white;
}

div.awesomplete li:hover mark {
    background: white;
    color: #34495e;
}

div.awesomplete li[aria-selected="true"] mark {
    background: #000;
    color: inherit;
}